*{
    margin: 0;
    padding: 0;
}
.clear-fix:after{
    content:"";
    display:block;
    clear:both;
}
ul{
    margin: 0;
}
header{
    background:rgba(0,0,0,0.3);
}
nav {
    background: rgba(132,132,133,0.2);
    width:100%;
    height: 50px;
    position:fixed;
}
#banner{
    background: rgba(0,0,0,0.2);
    height: 825px;
}
.article #banner{
    height:300px;
}
.active{

}
nav ul{
    list-style:none;
    margin-right: 20px;
    float:right;
}
nav ul li,nav .logo{
    display: inline-block;
    line-height:50px;
}
nav ul li{
    display: inline-block;
    width: 80px;
    text-align: center;
}
nav ul li:hover{
    background: rgba(0,0,0,.3);
    border-bottom:2px solid white;
}
nav a{
    line-height:inherit;
    text-decoration:none;
    display:inline-block;
    height:inherit;
    color: #fff;
}
nav .logo{
    float: left;
    margin-left:15px;
}
#banner .inner{
    max-width:350px;
    text-align: center;
    margin:0 auto;
    position: relative;
    top:150px;
    color: #eee;
}
.article #banner .inner{
    top:50px;
}
#banner .inner h1{
    margin: 0;
    color: white;
}
button{
    border:none;
    background: #1b90a8;
    color: #eee;
    padding: 10px;
}
#banner button{
    padding:14px 40px;
}
#banner .inner .more{
    margin-top:200px;
    cursor: pointer;
}
.more a{
    text-decoration: none;
    color: #fff;
}
#banner .inner .more img{
    display: block;
    width: 18px;
    margin:auto;
    margin-top:10px;
}
#banner .inner .sub-heading{
    line-height:30px;
    margin: 40px 0;
    color: white;
}
.logo{
    font-size:20px;
    font-weight:700;
    letter-spacing: 1px;;
}
.logo a{
    color: #fff;
}

h1{
    padding: 18px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.article h1{
    border:none;
}
h2{
    font-size: 30px;

}
h3{
    font-size:24px;
}
p{
    margin-top:40px;
    font-size: 18px;
    letter-spacing:1px;
}
.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}
.sub-heading{
    font-size: 15px;
}
.green-section{
    text-align:center;
    color: #eee;
    background: #1bada6;
    padding:100px 0;
}
.green-section .hr{
    background: #119084;
    width:50%;
}
.green-section .icon-group .icon{
    display:inline;
    margin: 20px;
}
.icon-group{
    margin-top: 50px;
}
.wrapper{
    max-width:1080px;
    margin: 0 auto;
}
.gray-section{
    background: #252f34;
    color: #fff;
}
.gray-section .img-section{
    width:45%;
}
.img-section img{
    width: 100%;
}
.gray-section .text-section{
    width: 55%;
}
.article-preview{
    font-size: 0;
}
.article-preview>div{
    float: left;
}
.article-preview:nth-child(odd){
    background-color: rgba(255,255,255,0.1);
}
.text-section{
    position:relative;
    top:68px;
    left: 50px;
}
.text-section h2{
    margin-bottom: 10px;
}
.text-section .sub-heading{
    font-size: 18px;
}
.text-section>*{
    max-width: 90%;
}
.purple-section{
    padding:80px;
    background:#3f3965;
    color: #fff;
}
.purple-section .heading-wrapper{
    text-align:center;
    margin-bottom: 30px;
}
.purple-section .wrapper .hr{
    background-color:#373965;
    width:60%;
}
.card{
    float: left;
    width:50%;
    min-height:300px;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card:first-child{
    background:rgba(0,0,0,0.04);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
    background:rgba(0,0,0,0.12);
}
.card:nth-child(4){
    background:rgba(0,0,0,0.16);
}
.card:nth-child(5){
    background:rgba(0,0,0,0.20);
}
.card:nth-child(6){
    background:rgba(0,0,0,0.24);
}
footer{
    width:100%;
    height:200px;
    background-color: #2b2b2b;
    color: #fff;
    min-height:200px;
    text-align: center;
}
ul.share-group{
   display:block;
    width:100%;
    padding-top: 60px;
    color:yellowgreen;
 }
.share-group li{
    display:inline-block;
    padding: 10px;
}
.copy{
    padding-bottom:20px;
    color:yellowgreen;
}
.main-wrapper{
    background:#444 url("img/banner.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    overflow: hidden;
}
.mask{
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}
#sidebar{
    position:fixed;
    top:0;
    bottom:0;
    right:-300px;
    /*right:0;
    -webkit-transform: translate(300px,0);
    -moz-transform: translate(300px,0);
    -ms-transform: translate(300px,0);
    -o-transform: translate(300px,0);
    transform: translate(300px,0);*/
    width: 300px;
    background: #333;
    padding:20px 0;
    transition:right 0.5s;
}
#sidebar ul{
    list-style:none;
}
#sidebar ul a{
    color: #fff;
    text-decoration: none;
    width:100%;
    padding:10px 50px;
    display:inline-block;
}
#sidebar ul a:hover{
    background: #444;
}
.back-to-top{
    position: fixed;
    bottom:30px;
    right:30px;
}
.article .content{
    background: #fefefe;
}
.article_info{
    font-size:14px;
    color: #888;
    padding:15px 0;
 }
article{
    line-height:35px;
    padding:10px;
}
.content_wrapper{
    width: 1000px;
    margin: 0 auto;
}
